body {
  height:100vh;
  width:100vw;
  background:linear-gradient(135deg, red , blue);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.welcome {
  color: #FFF;
  display: flex;
  justify-content: center;
  padding-top: 25%;
  padding-left: 20%;
  padding-right: 20%;
}
